@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "HTTP Error 500 Internal server error";
}

<h1>We're sorry, but something went wrong.</h1>

<div allign="center" class="fill" style="background-image: url('../../Content/images/Error/500error.jpg');"></div>