@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resources.txtError + Model.Exception.Message;
}

<h2>
    @Resources.Resources.txtError
</h2>

<div allign="center" class="fill" style="background-image: url('../../Content/images/Error/error.jpg');"></div>

