<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="true">

    <appender name="E_RollingLogFileAppender"  type="WordLearningMVC.Logging.AspNetRollingFileAppender">
      <!--  type="log4net.Appender.RollingFileAppender"  -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
      <file type="log4net.Util.PatternString" value="~\Log\Error\E_%property{LogFileName}.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="I_RollingLogFileAppender"  type="WordLearningMVC.Logging.AspNetRollingFileAppender">
      <!--  type="log4net.Appender.RollingFileAppender"  -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
      <file type="log4net.Util.PatternString" value="~\Log\Info\I_%property{LogFileName}.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="E_RollingLogFileAppender" />
      <appender-ref ref="I_RollingLogFileAppender" />
    </root>

  </log4net>
</configuration>