@model IList<DataAccessLayer.Entities.Course>

@{
    ViewBag.Title = Resources.Resources.txtAssignCourses;
}

<div id="grid-list" class="contentgrid">
    @Html.Partial("_AssignCourses")
</div>


