@model IList<DataAccessLayer.Entities.Profile>

@{
    ViewBag.Title = Resources.Resources.txtMyStudents;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("StudentCourses", "Teacher",
    new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging" }))
{
    <div class="contentgrid" id="grid-list">
        @Html.Partial("_TeacherStudents")
    </div>
}                          