@{
    ViewBag.Title = "FinishTutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 align="center"><span class="label label-primary">@Resources.Resources.msgFinishTutor</span></h6><br>
